@model OnlineBankingSystem.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqUser.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqAccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqAccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestMsg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestMsg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestRemarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestRemarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-secondary">Edit</a>

    <a asp-action="Dashboard" asp-controller="Users" class="btn btn-primary">Back to DashBoard</a>
</div>
