@model OnlineBankingSystem.Models.Account

@{
    ViewData["Title"] = "Account Details";
}

<h1>Account Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccUsername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccUsername.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Freezed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Freezed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTransactions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTransactions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Checkbook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkbook)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountNumber">Edit</a> |
    <a asp-action="Delete" class="btn btn-danger">Delete Account</a>  
</div>
