@model OnlineBankingSystem.Models.User

@{
    ViewData["Title"] = "Details";
    var balance = ViewData["AccountBalance"];
}

<h1>Details</h1>

<div>
    
    
    <h4></h4>
    <h5>Account Balance = @balance</h5>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SSN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SSN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isAdmin)
        </dt>
        <dd class="col-sm-10">
            @if (Model.isAdmin)
            {<p> Yes </p>}
            else
            { <p> No </p>}
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfAccounts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfAccounts)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Username" class="btn btn-secondary">Edit</a>

    <a asp-action="Dashboard" asp-controller="Users" class="btn btn-primary">Back to DashBoard</a>
</div>
